### 외산차 데이터 수집

https://www.kaida.co.kr/ko/statistics/NewRegistList.do
* 2014 부터 2024까지 수집

In [21]:
import pandas as pd
import numpy as np
from functools import reduce

In [22]:
df_test = pd.read_excel("20142015.xlsx")
df_test

c:\Users\Playdata\AppData\Local\anaconda3\envs\new\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,신규등록 브랜드 - 월별요약,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,기간: 2015-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Brand,2015,NaN,NaN,NaN,%Change,2014,NaN,%Change,Total(Jan. ~ Dec.),NaN,NaN,NaN,%Change
4,NaN,NaN,Dec.,%Share,Nov.,%Share,NaN,Dec.,%Share,NaN,2015,%Share,2014,%Share,NaN
5,NaN,Audi,"2,887",11.85,"3,796",16.51,-23.9,"1,766",10.32,63.5,"32,538",13.34,"27,647",14.08,17.7
6,NaN,BMW,"5,224",21.44,"4,217",18.34,23.9,"3,076",17.97,69.8,"47,877",19.63,"40,174",20.46,19.2
7,NaN,Bentley,25,0.10,39,0.17,-35.9,9,0.05,177.8,385,0.16,322,0.16,19.6
8,NaN,Cadillac,126,0.52,121,0.53,4.1,76,0.44,65.8,886,0.36,503,0.26,76.1
9,NaN,Chrysler,684,2.81,385,1.67,77.7,557,3.25,22.8,"6,257",2.57,"5,244",2.67,19.3
10,NaN,Citroen,42,0.17,56,0.24,-25,91,0.53,-53.8,572,0.23,620,0.32,-7.7
11,NaN,Fiat,72,0.30,45,0.20,60,49,0.29,46.9,615,0.25,"1,163",0.59,-47.1
12,NaN,Ford,"1,013",4.16,661,2.88,53.3,660,3.86,53.5,"10,358",4.25,"8,718",4.44,18.8
13,NaN,Honda,295,1.21,414,1.80,-28.7,276,1.61,6.9,"4,511",1.85,"3,601",1.83,25.3
14,NaN,Infiniti,448,1.84,382,1.66,17.3,162,0.95,176.5,"2,974",1.22,"2,777",1.41,7.1
15,NaN,Jaguar,322,1.32,268,1.17,20.1,209,1.22,54.1,"2,804",1.15,"1,989",1.01,41
16,NaN,Lamborghini,0,0.00,0,0.00,0,0,0.00,0,4,0.00,0,0.00,0
17,NaN,Land Rover,"1,317",5.41,800,3.48,64.6,554,3.24,137.7,"7,171",2.94,"4,675",2.38,53.4
18,NaN,Lexus,"1,157",4.75,768,3.34,50.7,774,4.52,49.5,"7,956",3.26,"6,464",3.29,23.1
19,NaN,MINI,764,3.14,639,2.78,19.6,"1,046",6.11,-27,"7,501",3.08,"6,572",3.35,14.1
20,NaN,Mercedes-Benz,"4,950",20.32,"3,441",14.97,43.9,"2,720",15.89,82,"46,994",19.27,"35,213",17.93,33.5
21,NaN,Nissan,620,2.54,409,1.78,51.6,694,4.05,-10.7,"5,737",2.35,"4,411",2.25,30.1
22,NaN,Peugeot,322,1.32,745,3.24,-56.8,273,1.59,17.9,"7,000",2.87,"3,118",1.59,124.5
23,NaN,Porsche,186,0.76,214,0.93,-13.1,175,1.02,6.3,"3,856",1.58,"2,568",1.31,50.2
24,NaN,Rolls-Royce,9,0.04,6,0.03,50,3,0.02,200,63,0.03,45,0.02,40
25,NaN,Toyota,905,3.71,545,2.37,66.1,840,4.91,7.7,"7,825",3.21,"6,840",3.48,14.4
26,NaN,Volkswagen,"2,635",10.81,"4,517",19.65,-41.7,"2,907",16.98,-9.4,"35,778",14.67,"30,719",15.64,16.5
27,NaN,Volvo,363,1.49,523,2.27,-30.6,203,1.19,78.8,"4,238",1.74,"2,976",1.52,42.4
28,NaN,Total,"24,366",100.00,"22,991",100.00,6,"17,120",100.00,42.3,"243,900",100.00,"196,359",100.00,24.2

* 엑셀 파일을 pandas로 읽어보니 불필요한 행들과 컬럼들이 많아 데이터를 정제할 필요가 있음

In [23]:
df_1415 = pd.read_excel("20142015.xlsx", skiprows=5)
df_1415.drop(df_1415.columns[[0,2,3,4,5,6,7,8,9]], axis=1, inplace=True)
df_1415.columns = ["브랜드명", "2015등록대수", "2015점유율", "2014등록대수", "2014점유율", "2014대비2015변화율"]

df_1415

c:\Users\Playdata\AppData\Local\anaconda3\envs\new\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

             브랜드명 2015등록대수  2015점유율 2014등록대수  2014점유율  2014대비2015변화율
0            Audi   32,538    13.34   27,647    14.08           17.7
1             BMW   47,877    19.63   40,174    20.46           19.2
2         Bentley      385     0.16      322     0.16           19.6
3        Cadillac      886     0.36      503     0.26           76.1
4        Chrysler    6,257     2.57    5,244     2.67           19.3
5         Citroen      572     0.23      620     0.32           -7.7
6            Fiat      615     0.25    1,163     0.59          -47.1
7            Ford   10,358     4.25    8,718     4.44           18.8
8           Honda    4,511     1.85    3,601     1.83           25.3
9        Infiniti    2,974     1.22    2,777     1.41            7.1
10         Jaguar    2,804     1.15    1,989     1.01           41.0
11    Lamborghini        4     0.00        0     0.00            0.0
12     Land Rover    7,171     2.94    4,675     2.38           53.4
13          Lexus    7,956     3.26    6,464     3.29           23.1
14           MINI    7,501     3.08    6,572     3.35           14.1
15  Mercedes-Benz   46,994    19.27   35,213    17.93           33.5
16         Nissan    5,737     2.35    4,411     2.25           30.1
17        Peugeot    7,000     2.87    3,118     1.59          124.5
18        Porsche    3,856     1.58    2,568     1.31           50.2
19    Rolls-Royce       63     0.03       45     0.02           40.0
20         Toyota    7,825     3.21    6,840     3.48           14.4
21     Volkswagen   35,778    14.67   30,719    15.64           16.5
22          Volvo    4,238     1.74    2,976     1.52           42.4
23          Total  243,900   100.00  196,359   100.00           24.2

In [24]:
df_1617 = pd.read_excel("20162017.xlsx", skiprows=5)
df_1617.drop(df_1617.columns[[0,2,3,4,5,6,7,8,9]], axis=1, inplace=True)
df_1617.columns = ["브랜드명", "2017등록대수", "2017점유율", "2016등록대수", "2016점유율", "2016대비2017변화율"]

df_1617

c:\Users\Playdata\AppData\Local\anaconda3\envs\new\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

             브랜드명 2017등록대수  2017점유율 2016등록대수  2016점유율  2016대비2017변화율
0            Audi      962     0.41   16,718     7.42          -94.2
1             BMW   59,624    25.58   48,459    21.51           23.0
2         Bentley      259     0.11      170     0.08           52.4
3        Cadillac    2,008     0.86    1,102     0.49           82.2
4        Chrysler    7,284     3.13    5,959     2.65           22.2
5         Citroen    1,174     0.50      924     0.41           27.1
6            Fiat      980     0.42      658     0.29           48.9
7            Ford   10,727     4.60   11,220     4.98           -4.4
8           Honda   10,299     4.42    6,636     2.95           55.2
9        Infiniti    2,697     1.16    3,201     1.42          -15.7
10         Jaguar    4,125     1.77    3,798     1.69            8.6
11    Lamborghini       24     0.01       20     0.01           20.0
12     Land Rover   10,740     4.61   10,601     4.71            1.3
13          Lexus   12,603     5.41   10,594     4.70           19.0
14           MINI    9,562     4.10    8,632     3.83           10.8
15  Mercedes-Benz   68,861    29.54   56,343    25.01           22.2
16         Nissan    6,285     2.70    5,733     2.54            9.6
17        Peugeot    3,697     1.59    3,622     1.61            2.1
18        Porsche    2,789     1.20    3,187     1.41          -12.5
19    Rolls-Royce       86     0.04       53     0.02           62.3
20         Toyota   11,698     5.02    9,265     4.11           26.3
21     Volkswagen        0     0.00   13,178     5.85            0.0
22          Volvo    6,604     2.83    5,206     2.31           26.9
23          Total  233,088   100.00  225,279   100.00            3.5

In [25]:
df_1819 = pd.read_excel("20182019.xlsx", skiprows=5)
df_1819.drop(df_1819.columns[[0,2,3,4,5,6,7,8,9]], axis=1, inplace=True)
df_1819.columns = ["브랜드명", "2019등록대수", "2019점유율", "2018등록대수", "2018점유율", "2018대비2019변화율"]

df_1819

c:\Users\Playdata\AppData\Local\anaconda3\envs\new\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

             브랜드명 2019등록대수  2019점유율 2018등록대수  2018점유율  2018대비2019변화율
0            Audi   11,930     4.87   12,450     4.78           -4.2
1             BMW   44,191    18.05   50,524    19.38          -12.5
2         Bentley      129     0.05      215     0.08          -40.0
3        Cadillac    1,714     0.70    2,101     0.80          -18.4
4       Chevrolet    3,270     1.34        0     0.00            0.0
5        Chrysler   10,251     4.19    7,590     2.91           35.1
6         Citroen      962     0.39    1,053     0.40           -8.6
7            Fiat        0     0.00        0     0.00            0.0
8            Ford    8,737     3.57   11,586     4.44          -24.6
9           Honda    8,760     3.58    7,956     3.05           10.1
10       Infiniti    2,000     0.82    2,130     0.81           -6.1
11         Jaguar    2,484     1.01    3,701     1.42          -32.9
12    Lamborghini      173     0.07       11     0.00         1472.7
13     Land Rover    7,713     3.15   11,772     4.52          -34.5
14          Lexus   12,241     5.00   13,340     5.12           -8.2
15           MINI   10,222     4.18    9,191     3.53           11.2
16       Maserati    1,260     0.51    1,660     0.63          -24.1
17  Mercedes-Benz   78,133    31.92   70,798    27.15           10.4
18         Nissan    3,049     1.25    5,053     1.94          -39.7
19        Peugeot    3,505     1.43    4,478     1.72          -21.7
20        Porsche    4,204     1.72    4,285     1.64           -1.9
21    Rolls-Royce      161     0.07      123     0.05           30.9
22         Toyota   10,611     4.33   16,774     6.43          -36.7
23     Volkswagen    8,510     3.48   15,390     5.91          -44.7
24          Volvo   10,570     4.32    8,524     3.27           24.0
25          Total  244,780   100.00  260,705   100.00           -6.1

In [26]:
df_2021 = pd.read_excel("20202021.xlsx", skiprows=5)
df_2021.drop(df_2021.columns[[0,2,3,4,5,6,7,8,9]], axis=1, inplace=True)
df_2021.columns = ["브랜드명", "2021등록대수", "2021점유율", "2020등록대수", "2020점유율", "2020대비2021변화율"]

df_2021

c:\Users\Playdata\AppData\Local\anaconda3\envs\new\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

             브랜드명 2021등록대수  2021점유율 2020등록대수  2020점유율  2020대비2021변화율
0            Audi   25,615     9.28   25,513     9.28            0.4
1             BMW   65,669    23.78   58,393    21.24           12.5
2         Bentley      506     0.18      296     0.11           70.9
3        Cadillac      987     0.36    1,499     0.55          -34.2
4       Chevrolet    8,975     3.25   12,455     4.53          -27.9
5        Chrysler   10,449     3.78    8,753     3.18           19.4
6         Citroen      603     0.22      930     0.34          -35.2
7            Ford    6,721     2.43    7,069     2.57           -4.9
8           Honda    4,355     1.58    3,056     1.11           42.5
9        Infiniti        0     0.00      578     0.21            0.0
10         Jaguar      338     0.12      875     0.32          -61.4
11    Lamborghini      353     0.13      303     0.11           16.5
12     Land Rover    3,220     1.17    4,801     1.75          -32.9
13          Lexus    9,752     3.53    8,911     3.24            9.4
14        Lincoln    3,627     1.31    3,378     1.23            7.4
15           MINI   11,148     4.04   11,245     4.09           -0.9
16       Maserati      842     0.30      932     0.34           -9.7
17  Mercedes-Benz   76,152    27.58   76,879    27.97           -0.9
18         Nissan        0     0.00    1,865     0.68            0.0
19        Peugeot    2,320     0.84    2,611     0.95          -11.1
20        Porsche    8,431     3.05    7,779     2.83            8.4
21    Rolls-Royce      225     0.08      171     0.06           31.6
22         Toyota    6,441     2.33    6,154     2.24            4.7
23     Volkswagen   14,364     5.20   17,615     6.41          -18.5
24          Volvo   15,053     5.45   12,798     4.66           17.6
25          Total  276,146   100.00  274,859   100.00            0.5

In [27]:
df_2223 = pd.read_excel("20222023.xlsx", skiprows=5)
df_2223.drop(df_2223.columns[[0,2,3,4,5,6,7,8,9]], axis=1, inplace=True)
df_2223.columns = ["브랜드명", "2023등록대수", "2023점유율", "2022등록대수", "2022점유율", "2022대비2023변화율"]

df_2223

c:\Users\Playdata\AppData\Local\anaconda3\envs\new\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

             브랜드명 2023등록대수  2023점유율 2022등록대수  2022점유율  2022대비2023변화율
0            Audi   17,868     6.59   21,402     7.55          -16.5
1             BMW   77,395    28.56   78,545    27.71           -1.5
2         Bentley      810     0.30      775     0.27            4.5
3        Cadillac      975     0.36      977     0.34           -0.2
4       Chevrolet    5,589     2.06    9,004     3.18          -37.9
5         Citroen        0     0.00       39     0.01            0.0
6              DS      153     0.06       88     0.03           73.9
7            Ford    3,450     1.27    5,300     1.87          -34.9
8             GMC      437     0.16        0     0.00            0.0
9           Honda    1,385     0.51    3,140     1.11          -55.9
10         Jaguar       54     0.02      163     0.06          -66.9
11           Jeep    4,512     1.66    7,166     2.53          -37.0
12    Lamborghini      431     0.16      403     0.14            6.9
13     Land Rover    5,019     1.85    3,113     1.10           61.2
14          Lexus   13,561     5.00    7,592     2.68           78.6
15        Lincoln    1,658     0.61    2,548     0.90          -34.9
16           MINI    9,535     3.52   11,213     3.96          -15.0
17       Maserati      434     0.16      554     0.20          -21.7
18  Mercedes-Benz   76,697    28.30   80,976    28.57           -5.3
19        Peugeot    2,026     0.75    1,965     0.69            3.1
20       Polestar    1,654     0.61    2,794     0.99          -40.8
21        Porsche   11,355     4.19    8,963     3.16           26.7
22    Rolls-Royce      276     0.10      234     0.08           17.9
23         Toyota    8,495     3.13    6,259     2.21           35.7
24     Volkswagen   10,247     3.78   15,791     5.57          -35.1
25          Volvo   17,018     6.28   14,431     5.09           17.9
26          Total  271,034   100.00  283,435   100.00           -4.4

In [28]:
df_2324 = pd.read_excel("20242023.xlsx", skiprows=5)
df_2324.drop(df_2324.columns[[0,2,3,4,5,6,7,8,9]], axis=1, inplace=True)
df_2324.columns = ["브랜드명", "2024등록대수", "2024점유율", "2023등록대수", "2023점유율", "2023대비2024변화율"]

df_2324

c:\Users\Playdata\AppData\Local\anaconda3\envs\new\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

             브랜드명 2024등록대수  2024점유율 2023등록대수  2023점유율  2023대비2024변화율
0            Audi    8,386     3.50   16,650     6.83          -49.6
1             BMW   67,250    28.05   69,546    28.52           -3.3
2         Bentley      340     0.14      748     0.31          -54.5
3        Cadillac      627     0.26      859     0.35          -27.0
4       Chevrolet    1,382     0.58    5,472     2.24          -74.7
5              DS        0     0.00      151     0.06            0.0
6            Ford    3,484     1.45    3,141     1.29           10.9
7             GMC      304     0.13      415     0.17          -26.7
8           Honda    2,145     0.89    1,234     0.51           73.8
9          Jaguar        0     0.00       54     0.02            0.0
10           Jeep    2,385     0.99    4,052     1.66          -41.1
11    Lamborghini      433     0.18      384     0.16           12.8
12     Land Rover    3,958     1.65    4,684     1.92          -15.5
13          Lexus   12,849     5.36   12,191     5.00            5.4
14        Lincoln    2,080     0.87    1,143     0.47           82.0
15           MINI    6,888     2.87    8,731     3.58          -21.1
16       Maserati      230     0.10      387     0.16          -40.6
17  Mercedes-Benz   59,561    24.84   68,156    27.95          -12.6
18        Peugeot      852     0.36    1,763     0.72          -51.7
19       Polestar      480     0.20    1,556     0.64          -69.2
20        Porsche    7,516     3.13   10,442     4.28          -28.0
21    Rolls-Royce      165     0.07      255     0.10          -35.3
22          Tesla   28,498    11.89        0     0.00            0.0
23         Toyota    8,614     3.59    7,602     3.12           13.3
24     Volkswagen    7,734     3.23    8,785     3.60          -12.0
25          Volvo   13,603     5.67   15,410     6.32          -11.7
26          Total  239,764   100.00  243,811   100.00           -1.7

In [29]:
dataframes = [df_1415, df_1617, df_1819, df_2021, df_2223, df_2324]
merged_df = reduce(lambda left, right: pd.merge(left, right, on="브랜드명"), dataframes)
merged_df = merged_df.rename(columns={"2023등록대수_y": "2023등록대수", "2023점유율_y": "2023점유율"})

merged_df.drop(merged_df.columns[[21,22]], axis=1, inplace=True)

In [30]:
merged_df

,브랜드명,2015등록대수,2015점유율,2014등록대수,2014점유율,2014대비2015변화율,2017등록대수,2017점유율,2016등록대수,2016점유율,...,2020점유율,2020대비2021변화율,2022등록대수,2022점유율,2022대비2023변화율,2024등록대수,2024점유율,2023등록대수,2023점유율,2023대비2024변화율
0,Audi,"32,538",13.34,"27,647",14.08,17.7,962,0.41,"16,718",7.42,...,9.28,0.4,"21,402",7.55,-16.5,"8,386",3.50,"16,650",6.83,-49.6
1,BMW,"47,877",19.63,"40,174",20.46,19.2,"59,624",25.58,"48,459",21.51,...,21.24,12.5,"78,545",27.71,-1.5,"67,250",28.05,"69,546",28.52,-3.3
2,Bentley,385,0.16,322,0.16,19.6,259,0.11,170,0.08,...,0.11,70.9,775,0.27,4.5,340,0.14,748,0.31,-54.5
3,Cadillac,886,0.36,503,0.26,76.1,"2,008",0.86,"1,102",0.49,...,0.55,-34.2,977,0.34,-0.2,627,0.26,859,0.35,-27.0
4,Ford,"10,358",4.25,"8,718",4.44,18.8,"10,727",4.60,"11,220",4.98,...,2.57,-4.9,"5,300",1.87,-34.9,"3,484",1.45,"3,141",1.29,10.9
5,Honda,"4,511",1.85,"3,601",1.83,25.3,"10,299",4.42,"6,636",2.95,...,1.11,42.5,"3,140",1.11,-55.9,"2,145",0.89,"1,234",0.51,73.8
6,Jaguar,"2,804",1.15,"1,989",1.01,41.0,"4,125",1.77,"3,798",1.69,...,0.32,-61.4,163,0.06,-66.9,0,0.00,54,0.02,0.0
7,Lamborghini,4,0.00,0,0.00,0.0,24,0.01,20,0.01,...,0.11,16.5,403,0.14,6.9,433,0.18,384,0.16,12.8
8,Land Rover,"7,171",2.94,"4,675",2.38,53.4,"10,740",4.61,"10,601",4.71,...,1.75,-32.9,"3,113",1.10,61.2,"3,958",1.65,"4,684",1.92,-15.5
9,Lexus,"7,956",3.26,"6,464",3.29,23.1,"12,603",5.41,"10,594",4.70,...,3.24,9.4,"7,592",2.68,78.6,"12,849",5.36,"12,191",5.00,5.4
10,MINI,"7,501",3.08,"6,572",3.35,14.1,"9,562",4.10,"8,632",3.83,...,4.09,-0.9,"11,213",3.96,-15.0,"6,888",2.87,"8,731",3.58,-21.1
11,Mercedes-Benz,"46,994",19.27,"35,213",17.93,33.5,"68,861",29.54,"56,343",25.01,...,27.97,-0.9,"80,976",28.57,-5.3,"59,561",24.84,"68,156",27.95,-12.6
12,Peugeot,"7,000",2.87,"3,118",1.59,124.5,"3,697",1.59,"3,622",1.61,...,0.95,-11.1,"1,965",0.69,3.1,852,0.36,"1,763",0.72,-51.7
13,Porsche,"3,856",1.58,"2,568",1.31,50.2,"2,789",1.20,"3,187",1.41,...,2.83,8.4,"8,963",3.16,26.7,"7,516",3.13,"10,442",4.28,-28.0
14,Rolls-Royce,63,0.03,45,0.02,40.0,86,0.04,53,0.02,...,0.06,31.6,234,0.08,17.9,165,0.07,255,0.10,-35.3
15,Toyota,"7,825",3.21,"6,840",3.48,14.4,"11,698",5.02,"9,265",4.11,...,2.24,4.7,"6,259",2.21,35.7,"8,614",3.59,"7,602",3.12,13.3
16,Volkswagen,"35,778",14.67,"30,719",15.64,16.5,0,0.00,"13,178",5.85,...,6.41,-18.5,"15,791",5.57,-35.1,"7,734",3.23,"8,785",3.60,-12.0
17,Volvo,"4,238",1.74,"2,976",1.52,42.4,"6,604",2.83,"5,206",2.31,...,4.66,17.6,"14,431",5.09,17.9,"13,603",5.67,"15,410",6.32,-11.7
18,Total,"243,900",100.00,"196,359",100.00,24.2,"233,088",100.00,"225,279",100.00,...,100.00,0.5,"283,435",100.00,-4.4,"239,764",100.00,"243,811",100.00,-1.7

In [31]:
columns_to_drop = [col for col in merged_df.columns if "변화율" in col]
merged_df = merged_df.drop(columns=columns_to_drop)

merged_df.head()

,브랜드명,2015등록대수,2015점유율,2014등록대수,2014점유율,2017등록대수,2017점유율,2016등록대수,2016점유율,2019등록대수,...,2021등록대수,2021점유율,2020등록대수,2020점유율,2022등록대수,2022점유율,2024등록대수,2024점유율,2023등록대수,2023점유율
0,Audi,"32,538",13.34,"27,647",14.08,962,0.41,"16,718",7.42,"11,930",...,"25,615",9.28,"25,513",9.28,"21,402",7.55,"8,386",3.50,"16,650",6.83
1,BMW,"47,877",19.63,"40,174",20.46,"59,624",25.58,"48,459",21.51,"44,191",...,"65,669",23.78,"58,393",21.24,"78,545",27.71,"67,250",28.05,"69,546",28.52
2,Bentley,385,0.16,322,0.16,259,0.11,170,0.08,129,...,506,0.18,296,0.11,775,0.27,340,0.14,748,0.31
3,Cadillac,886,0.36,503,0.26,"2,008",0.86,"1,102",0.49,"1,714",...,987,0.36,"1,499",0.55,977,0.34,627,0.26,859,0.35
4,Ford,"10,358",4.25,"8,718",4.44,"10,727",4.60,"11,220",4.98,"8,737",...,"6,721",2.43,"7,069",2.57,"5,300",1.87,"3,484",1.45,"3,141",1.29

In [32]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 23 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   브랜드명      19 non-null     object
 1   2015등록대수  19 non-null     object
 2   2015점유율   19 non-null     float64
 3   2014등록대수  19 non-null     object
 4   2014점유율   19 non-null     float64
 5   2017등록대수  19 non-null     object
 6   2017점유율   19 non-null     float64
 7   2016등록대수  19 non-null     object
 8   2016점유율   19 non-null     float64
 9   2019등록대수  19 non-null     object
 10  2019점유율   19 non-null     float64
 11  2018등록대수  19 non-null     object
 12  2018점유율   19 non-null     float64
 13  2021등록대수  19 non-null     object
 14  2021점유율   19 non-null     float64
 15  2020등록대수  19 non-null     object
 16  2020점유율   19 non-null     float64
 17  2022등록대수  19 non-null     object
 18  2022점유율   19 non-null     float64
 19  2024등록대수  19 non-null     object
 20  2024점유율   19 non-null     float64
 21  2023등록대수  19 non-null     object
 22  2023점유율   19 non-null     float64
dtypes: float64(11), object(12)
memory usage: 3.5+ KB

In [33]:
change_df = pd.DataFrame()
change_df["브랜드명"] = merged_df["브랜드명"]

# 변화율 계산 함수
def calculate_change_rate(current, previous):
    return ((current - previous) / previous) * 100

# 등록대수 변화율 계산
for year in range(2014, 2024):  
    current_col = f"{year + 1}등록대수"
    previous_col = f"{year}등록대수"
    if current_col in merged_df.columns and previous_col in merged_df.columns:
        change_col = f"{year}-{year + 1}등록대수변화율"
        change_df[change_col] = calculate_change_rate(
            merged_df[current_col].str.replace(",", "").astype(float),
            merged_df[previous_col].str.replace(",", "").astype(float),
        ).round(1)

# 점유율 변화율 계산
for year in range(2014, 2024):  # 연도 범위 지정
    current_col = f"{year + 1}점유율"
    previous_col = f"{year}점유율"
    if current_col in merged_df.columns and previous_col in merged_df.columns:
        change_col = f"{year}-{year + 1}점유율변화율"
        change_df[change_col] = calculate_change_rate(
            merged_df[current_col].astype(float),
            merged_df[previous_col].astype(float),
        ).round(1)

change_df

,브랜드명,2014-2015등록대수변화율,2015-2016등록대수변화율,2016-2017등록대수변화율,2017-2018등록대수변화율,2018-2019등록대수변화율,2019-2020등록대수변화율,2020-2021등록대수변화율,2021-2022등록대수변화율,2022-2023등록대수변화율,...,2014-2015점유율변화율,2015-2016점유율변화율,2016-2017점유율변화율,2017-2018점유율변화율,2018-2019점유율변화율,2019-2020점유율변화율,2020-2021점유율변화율,2021-2022점유율변화율,2022-2023점유율변화율,2023-2024점유율변화율
0,Audi,17.7,-48.6,-94.2,1194.2,-4.2,113.9,0.4,-16.4,-22.2,...,-5.3,-44.4,-94.5,1065.9,1.9,90.6,0.0,-18.6,-9.5,-48.8
1,BMW,19.2,1.2,23.0,-15.3,-12.5,32.1,12.5,19.6,-11.5,...,-4.1,9.6,18.9,-24.2,-6.9,17.7,12.0,16.5,2.9,-1.6
2,Bentley,19.6,-55.8,52.4,-17.0,-40.0,129.5,70.9,53.2,-3.5,...,0.0,-50.0,37.5,-27.3,-37.5,120.0,63.6,50.0,14.8,-54.8
3,Cadillac,76.1,24.4,82.2,4.6,-18.4,-12.5,-34.2,-1.0,-12.1,...,38.5,36.1,75.5,-7.0,-12.5,-21.4,-34.5,-5.6,2.9,-25.7
4,Ford,18.8,8.3,-4.4,8.0,-24.6,-19.1,-4.9,-21.1,-40.7,...,-4.3,17.2,-7.6,-3.5,-19.6,-28.0,-5.4,-23.0,-31.0,12.4
5,Honda,25.3,47.1,55.2,-22.7,10.1,-65.1,42.5,-27.9,-60.7,...,1.1,59.5,49.8,-31.0,17.4,-69.0,42.3,-29.7,-54.1,74.5
6,Jaguar,41.0,35.4,8.6,-10.3,-32.9,-64.8,-61.4,-51.8,-66.9,...,13.9,47.0,4.7,-19.8,-28.9,-68.3,-62.5,-50.0,-66.7,-100.0
7,Lamborghini,inf,400.0,20.0,-54.2,1472.7,75.1,16.5,14.2,-4.7,...,NaN,inf,0.0,-100.0,inf,57.1,18.2,7.7,14.3,12.5
8,Land Rover,53.4,47.8,1.3,9.6,-34.5,-37.8,-32.9,-3.3,50.5,...,23.5,60.2,-2.1,-2.0,-30.3,-44.4,-33.1,-6.0,74.5,-14.1
9,Lexus,23.1,33.2,19.0,5.8,-8.2,-27.2,9.4,-22.1,60.6,...,-0.9,44.2,15.1,-5.4,-2.3,-35.2,9.0,-24.1,86.6,7.2
10,MINI,14.1,15.1,10.8,-3.9,11.2,10.0,-0.9,0.6,-22.1,...,-8.1,24.4,7.0,-13.9,18.4,-2.2,-1.2,-2.0,-9.6,-19.8
11,Mercedes-Benz,33.5,19.9,22.2,2.8,10.4,-1.6,-0.9,6.3,-15.8,...,7.5,29.8,18.1,-8.1,17.6,-12.4,-1.4,3.6,-2.2,-11.1
12,Peugeot,124.5,-48.3,2.1,21.1,-21.7,-25.5,-11.1,-15.3,-10.3,...,80.5,-43.9,-1.2,8.2,-16.9,-33.6,-11.6,-17.9,4.3,-50.0
13,Porsche,50.2,-17.3,-12.5,53.6,-1.9,85.0,8.4,6.3,16.5,...,20.6,-10.8,-14.9,36.7,4.9,64.5,7.8,3.6,35.4,-26.9
14,Rolls-Royce,40.0,-15.9,62.3,43.0,30.9,6.2,31.6,4.0,9.0,...,50.0,-33.3,100.0,25.0,40.0,-14.3,33.3,0.0,25.0,-30.0
15,Toyota,14.4,18.4,26.3,43.4,-36.7,-42.0,4.7,-2.8,21.5,...,-7.8,28.0,22.1,28.1,-32.7,-48.3,4.0,-5.2,41.2,15.1
16,Volkswagen,16.5,-63.2,-100.0,inf,-44.7,107.0,-18.5,9.9,-44.4,...,-6.2,-60.1,-100.0,inf,-41.1,84.2,-18.9,7.1,-35.4,-10.3
17,Volvo,42.4,22.8,26.9,29.1,24.0,21.1,17.6,-4.1,6.8,...,14.5,32.8,22.5,15.5,32.1,7.9,17.0,-6.6,24.2,-10.3
18,Total,24.2,-7.6,3.5,11.8,-6.1,12.3,0.5,2.6,-14.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
change_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   브랜드명              19 non-null     object
 1   2014-2015등록대수변화율  19 non-null     float64
 2   2015-2016등록대수변화율  19 non-null     float64
 3   2016-2017등록대수변화율  19 non-null     float64
 4   2017-2018등록대수변화율  19 non-null     float64
 5   2018-2019등록대수변화율  19 non-null     float64
 6   2019-2020등록대수변화율  19 non-null     float64
 7   2020-2021등록대수변화율  19 non-null     float64
 8   2021-2022등록대수변화율  19 non-null     float64
 9   2022-2023등록대수변화율  19 non-null     float64
 10  2023-2024등록대수변화율  19 non-null     float64
 11  2014-2015점유율변화율   18 non-null     float64
 12  2015-2016점유율변화율   19 non-null     float64
 13  2016-2017점유율변화율   19 non-null     float64
 14  2017-2018점유율변화율   19 non-null     float64
 15  2018-2019점유율변화율   19 non-null     float64
 16  2019-2020점유율변화율   19 non-null     float64
 17  2020-2021점유율변화율   19 non-null     float64
 18  2021-2022점유율변화율   19 non-null     float64
 19  2022-2023점유율변화율   19 non-null     float64
 20  2023-2024점유율변화율   19 non-null     float64
dtypes: float64(20), object(1)
memory usage: 3.2+ KB

In [35]:
change_df.loc[7]

브랜드명                Lamborghini
2014-2015등록대수변화율            inf
2015-2016등록대수변화율          400.0
2016-2017등록대수변화율           20.0
2017-2018등록대수변화율          -54.2
2018-2019등록대수변화율         1472.7
2019-2020등록대수변화율           75.1
2020-2021등록대수변화율           16.5
2021-2022등록대수변화율           14.2
2022-2023등록대수변화율           -4.7
2023-2024등록대수변화율           12.8
2014-2015점유율변화율             NaN
2015-2016점유율변화율             inf
2016-2017점유율변화율             0.0
2017-2018점유율변화율          -100.0
2018-2019점유율변화율             inf
2019-2020점유율변화율            57.1
2020-2021점유율변화율            18.2
2021-2022점유율변화율             7.7
2022-2023점유율변화율            14.3
2023-2024점유율변화율            12.5
Name: 7, dtype: object

In [36]:
change_df = change_df.replace([float('inf'), -float('inf')], 0).fillna(0).round(1)

In [37]:
change_df

,브랜드명,2014-2015등록대수변화율,2015-2016등록대수변화율,2016-2017등록대수변화율,2017-2018등록대수변화율,2018-2019등록대수변화율,2019-2020등록대수변화율,2020-2021등록대수변화율,2021-2022등록대수변화율,2022-2023등록대수변화율,...,2014-2015점유율변화율,2015-2016점유율변화율,2016-2017점유율변화율,2017-2018점유율변화율,2018-2019점유율변화율,2019-2020점유율변화율,2020-2021점유율변화율,2021-2022점유율변화율,2022-2023점유율변화율,2023-2024점유율변화율
0,Audi,17.7,-48.6,-94.2,1194.2,-4.2,113.9,0.4,-16.4,-22.2,...,-5.3,-44.4,-94.5,1065.9,1.9,90.6,0.0,-18.6,-9.5,-48.8
1,BMW,19.2,1.2,23.0,-15.3,-12.5,32.1,12.5,19.6,-11.5,...,-4.1,9.6,18.9,-24.2,-6.9,17.7,12.0,16.5,2.9,-1.6
2,Bentley,19.6,-55.8,52.4,-17.0,-40.0,129.5,70.9,53.2,-3.5,...,0.0,-50.0,37.5,-27.3,-37.5,120.0,63.6,50.0,14.8,-54.8
3,Cadillac,76.1,24.4,82.2,4.6,-18.4,-12.5,-34.2,-1.0,-12.1,...,38.5,36.1,75.5,-7.0,-12.5,-21.4,-34.5,-5.6,2.9,-25.7
4,Ford,18.8,8.3,-4.4,8.0,-24.6,-19.1,-4.9,-21.1,-40.7,...,-4.3,17.2,-7.6,-3.5,-19.6,-28.0,-5.4,-23.0,-31.0,12.4
5,Honda,25.3,47.1,55.2,-22.7,10.1,-65.1,42.5,-27.9,-60.7,...,1.1,59.5,49.8,-31.0,17.4,-69.0,42.3,-29.7,-54.1,74.5
6,Jaguar,41.0,35.4,8.6,-10.3,-32.9,-64.8,-61.4,-51.8,-66.9,...,13.9,47.0,4.7,-19.8,-28.9,-68.3,-62.5,-50.0,-66.7,-100.0
7,Lamborghini,0.0,400.0,20.0,-54.2,1472.7,75.1,16.5,14.2,-4.7,...,0.0,0.0,0.0,-100.0,0.0,57.1,18.2,7.7,14.3,12.5
8,Land Rover,53.4,47.8,1.3,9.6,-34.5,-37.8,-32.9,-3.3,50.5,...,23.5,60.2,-2.1,-2.0,-30.3,-44.4,-33.1,-6.0,74.5,-14.1
9,Lexus,23.1,33.2,19.0,5.8,-8.2,-27.2,9.4,-22.1,60.6,...,-0.9,44.2,15.1,-5.4,-2.3,-35.2,9.0,-24.1,86.6,7.2
10,MINI,14.1,15.1,10.8,-3.9,11.2,10.0,-0.9,0.6,-22.1,...,-8.1,24.4,7.0,-13.9,18.4,-2.2,-1.2,-2.0,-9.6,-19.8
11,Mercedes-Benz,33.5,19.9,22.2,2.8,10.4,-1.6,-0.9,6.3,-15.8,...,7.5,29.8,18.1,-8.1,17.6,-12.4,-1.4,3.6,-2.2,-11.1
12,Peugeot,124.5,-48.3,2.1,21.1,-21.7,-25.5,-11.1,-15.3,-10.3,...,80.5,-43.9,-1.2,8.2,-16.9,-33.6,-11.6,-17.9,4.3,-50.0
13,Porsche,50.2,-17.3,-12.5,53.6,-1.9,85.0,8.4,6.3,16.5,...,20.6,-10.8,-14.9,36.7,4.9,64.5,7.8,3.6,35.4,-26.9
14,Rolls-Royce,40.0,-15.9,62.3,43.0,30.9,6.2,31.6,4.0,9.0,...,50.0,-33.3,100.0,25.0,40.0,-14.3,33.3,0.0,25.0,-30.0
15,Toyota,14.4,18.4,26.3,43.4,-36.7,-42.0,4.7,-2.8,21.5,...,-7.8,28.0,22.1,28.1,-32.7,-48.3,4.0,-5.2,41.2,15.1
16,Volkswagen,16.5,-63.2,-100.0,0.0,-44.7,107.0,-18.5,9.9,-44.4,...,-6.2,-60.1,-100.0,0.0,-41.1,84.2,-18.9,7.1,-35.4,-10.3
17,Volvo,42.4,22.8,26.9,29.1,24.0,21.1,17.6,-4.1,6.8,...,14.5,32.8,22.5,15.5,32.1,7.9,17.0,-6.6,24.2,-10.3
18,Total,24.2,-7.6,3.5,11.8,-6.1,12.3,0.5,2.6,-14.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
# merged_df.to_csv('2014-2024외산차data')
# change_df.to_csv('2014-2024외산차변화율data')

### 2024 등록대수 데이터 정제

In [47]:
total = pd.read_excel('2024total.xlsx', skiprows=5)
total.drop(total.columns[0], axis=1, inplace=True)
total.columns = ["2024", "국내생산량", "국내생산_수출량", "국내자동차_등록량", "수입자동차_등록량", "수입차_점유율"]
total

c:\Users\Playdata\AppData\Local\anaconda3\envs\new\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

     2024      국내생산량   국내생산_수출량  국내자동차_등록량 수입자동차_등록량  수입차_점유율
0    Jan.    330,641    233,318     90,015    13,083    12.69
1    Feb.    275,239    190,305     84,858    16,237    16.06
2    Mar.    336,936    237,074    102,057    25,263    19.84
3    Apr.    364,404    262,776    100,724    21,560    17.63
4    May.    349,378    249,261     99,834    24,209    19.52
5    Jun.    330,996    245,395     95,928    25,300    20.87
6    Jul.    269,942    193,352     94,811    21,977    18.82
7    Aug.    277,896    182,975     91,506    22,263    19.57
8    Sep.    286,198    199,081     92,591    24,839    21.15
9    Oct.    349,454    236,309    108,210    21,249    16.41
10   Nov.    326,023    217,524    108,918    23,784    17.92
11   Dec.          0          0          0         0     0.00
12  Total  3,497,107  2,447,370  1,069,452   239,764    18.31

In [48]:
total = total[total["2024"] == "Total"]
total

     2024      국내생산량   국내생산_수출량  국내자동차_등록량 수입자동차_등록량  수입차_점유율
12  Total  3,497,107  2,447,370  1,069,452   239,764    18.31

In [49]:
total.to_csv('2024total.csv')