In [1]:
import pandas as pd
import numpy as np

In [24]:
# 0-31번째 행 삭제, 0번컬럼 삭제
total_foreign_car_df = pd.read_excel("20250104_data.xlsx", skiprows=32)
total_foreign_car_df.drop(total_foreign_car_df.columns[0], axis=1, inplace=True)
total_foreign_car_df.columns = ["년도", "국내생산량", "국내생산_수출량", "국내생산_A시장판매량", "국내생산_SUV·MPV", "수입_B시장판매량", "수입_시장점유율"]

total_foreign_car_df

C:\Users\User\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

     년도      국내생산량   국내생산_수출량 국내생산_A시장판매량 국내생산_SUV·MPV 수입_B시장판매량  수입_시장점유율
0  2014  4,124,116  2,919,781   1,213,943      412,258   196,359     13.92
1  2015  4,135,108  2,821,832   1,326,776      548,775   243,900     15.53
2  2016  3,859,991  2,506,505   1,343,379      542,032   225,279     14.36
3  2017  3,735,399  2,415,948   1,296,904      544,394   233,088     15.23
4  2018  3,661,025  2,449,651   1,297,937      602,546   260,705     16.73
5  2019  3,612,587  2,313,038   1,290,817      641,534   244,780     15.94
6  2020  3,211,706  1,820,745   1,362,466      712,768   274,859     16.74
7  2021  3,162,850  1,960,674   1,203,317      681,521   276,146     18.67
8  2022  3,438,355  2,217,753   1,155,962      704,233   283,435     19.69
9  2023  3,908,747  2,672,220   1,216,937      762,218   271,034     18.22

In [30]:
data = {
    "연도": [2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023],
    "등록대수(만대)": [2012, 2099, 2180, 2253, 2320, 2368, 2437, 2491, 2550, 2595],
    "전년대비 증가대수(천대)": [717, 871, 813, 725, 674, 475, 689, 545, 592, 446],
    "전년대비 증감비(%)": [3.7, 4.3, 3.9, 3.3, 3.0, 2.0, 2.9, 2.2, 2.4, 1.7],
}

total_car_df = pd.DataFrame(data)

total_car_df["등록대수(대)"] = total_car_df["등록대수(만대)"] * 10000
total_car_df["전년대비 증가대수(대)"] = total_car_df["전년대비 증가대수(천대)"] * 1000
total_car_df.drop(total_car_df.columns[[1,2]], axis=1, inplace=True)
total_car_df.head()

     연도  전년대비 증감비(%)   등록대수(대)  전년대비 증가대수(대)
0  2014          3.7  20120000        717000
1  2015          4.3  20990000        871000
2  2016          3.9  21800000        813000
3  2017          3.3  22530000        725000
4  2018          3.0  23200000        674000

In [32]:
# total_foreign_car_df.to_csv('2014-2024total외산차data.csv')
# total_car_df.to_csv('2014-2024전국자동차data.csv')